**/node_modules/
bigdata-ui/dist
bigdata-ui/dist-ssr
bigdata-ui/coverage
bigdata-ui/*.local
**/*.local
bigdata-ui/.vscode/*
bigdata-ui/package-lock.json
bigdata-ui/yarn.lock
**/pnpm-debug.log*
**/npm-debug.log*
**/yarn-error.log*

bigdata-server/src/main/resources/static

**/target

.DS_Store
.tmp/*
.vscode
.idea
_design/
